body {
  color:midnightblue;
  margin-left: 20px;
  margin-right: 20px;
  background-color: bisque;
}

.Home {
  color: midnightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.Home-container {
  margin-top: 50px;
}
.LoginForm {
  text-align: center;
}

.Header {
  color: midnightblue;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
}

.SignupForm {
  text-align: center;
}

button {
  color: steelblue;
  background-color: lavenderblush;
  border-radius: 7px;
}




